.header {
  height: 40vh;
  background-image: url("../images/header-image.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.header-image-container {
}

/* NAV BAR */

nav {
  background-color: #bdabdc;
}
.nav-logo {
  height: 80px;
}
.menu li a {
  font-size: 1.3em;
  color: #4A2781;
}

/* INTRO */
.intro-p {
  width: 80%;
}

/* FEATURED SECTION */
.feature-section-card {
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #BDABDC;
}

.featured-thumbnail {
  background-color: #BDABDC;
}

/* FOOTER */
footer {
  background-color: #BDABDC;
}

.footer-menu {
  display: flex;
  justify-content: space-around;
  text-decoration: none;
}

.footer-menu a {
  text-decoration: none;
  color: #4A2781;
}

.footer-logo {
  height: 80px;
}







/* Recipe List*/
.recipe-card-image{
  background-color: #4A2781;
  background-size: cover;
  background-repeat: no-repeat;
 background-position: center;
}


/*Recipe*/
.servings-details{
  border-top: .3rem solid #4A2781;
  border-bottom: .3rem solid #4A2781;
}


.details-card-header{
  background-color: #BDABDC;
  border-bottom: .1rem solid #4A2781;
}

.details-card{
  border: .1rem solid #4A2781;
}
