.recipe-card-text-clamp {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box; /* Required for line-clamp in some browsers */
  -webkit-line-clamp: 3; /* Set the desired number of lines */
  -webkit-box-orient: vertical; /* Required for line-clamp */
  line-clamp: 3; /* Standard property for line clamping */
}

/* Recipe List*/
.recipe-card-image {
  background-color: #4a2781;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/*Recipe*/
.servings-details {
  border-top: 0.3rem solid #4a2781;
  border-bottom: 0.3rem solid #4a2781;
}

.details-card-header {
  background-color: #bdabdc;
  border-bottom: 0.1rem solid #4a2781;
}

.details-card {
  border: 0.1rem solid #4a2781;
}
