<div
  class="col-12 col-md-6 mb-4 d-flex text-center justify-content-center"
  style="height: 15rem"
>
  <div
    class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg"
    style="
      width: 25rem;
      background-image: url('../static/images/appetizers.jpg');
    "
  >
    <div
      class="card-body d-flex flex-column justify-content-center align-items-center"
    >
      <h5 class="card-title">
        <a href="http://127.0.0.1:5000/recipes/type/{{category_route}}" class="card-link"
          >{{ category }}</a
        >
      </h5>
      <p class="card-text">
        {{ category_text }}
      </p>
    </div>
  </div>
</div>
