<section class="recipe-section container py-5" id="custom-cards">
        <h2 class="pb-2 border-bottom">Recipes</h2>
        <div class="recipes row">
          {% for item in list %}
          <div
              class="col-12 col-md-6 col-lg-4 mb-4 d-flex text-center justify-content-center"
              style="height: 15rem"
            >
              <div class="category-card   card mb-3" >
                <div class="category-card-header card-header">
                  <h5 class="recipe-category-card-title card-title">
                      {{ item[1] }}
                  </h5>
                </div>

                <div class="recipe-card-image card h-100 overflow-hidden rounded-0" style="background-image: url('../../static/images/salad.jpg');">
                </div>

                <div class="category-card-footer recipe-card-text-clamp card-footer overflow-hidden pb-5" >
                  <a href="{{ url_for('get_recipe_details', recipe_id=item[0]) }}" >View Recipe</a>
                  <p class="card-text">
                    {{item[2]}}
                  </p>
                  
                </div>
              </div>
            </div>
            {% endfor %}
        </div>
  </section>
