<div
  class="col-12 col-md-6 mb-4 d-flex text-center justify-content-center"
  style="height: 15rem"
>
  <div class="category-card card mb-3 w-100" >
    <div class="category-card-header card-header">
      <h5 class="recipe-category-card-title card-title">
          <a href="{{url_for('get_recipes_by_type', recipe_type=category_route)}}" class="card-link">{{ category }}</a>
      </h5>
    </div>

    <div class="category-card-image card h-100 overflow-hidden rounded-0" style="background-image: url({{card_image}});">
      <p>{{ category_text }}</p>
    </div>
  </div>
</div>
