{% extends "base.html" %}

{% block recipes_type_h1 %}
<h1>Breafast Recipes</h1>
{% endblock  %}

{% block intro_paragraph %}
    <p>
        A vegan entrees made without any animal products, such as meat, poultry,
        fish, dairy, or eggs. They are often hearty and satisfying, using a wide variety of plants
        like vegetables, legumes, grains, tofu, and mushrooms to create rich flavors and textures.
    </p>
{% endblock %}

{% block recipe_cards %}
    {% for breakfast in breakfast_recipes %}
        <div class="col">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">{{ breakfast[0] }}</h5>
                    <p class="card-text">{{breakfast[1]}}</p>   
                    <a href="{{ url_for('recipe_detail', recipe_id=breakfast.id) }}" class="btn btn-primary">View Recipe</a>
                </div>
            </div>
        </div>
    {% endfor %}
    {% endblock %}
    