{% extends "base.html" %} {% block recipes_type_h1 %}
<h1>Vegan Recipes</h1>
{% endblock %} {% block intro_paragraph %}
<p>
  Vegan recipes composed entirely of plant-based ingredients and built around a
  diverse range of foods including fruits, vegetables, grains, legumes, nuts,
  and seeds. These recipes help you create meals that are rich, satisfying, and
  innovative, ranging from grain bowls and stir-fries to burgers and dairy-free
  desserts.
</p>
{% endblock %} {% block main_section%}

<section class="featured-section container px-4 py-5" id="custom-cards">
  <h2 class="pb-2 border-bottom">Featured Recipes</h2>
  <p>
    Fresh from the kitchen, carefully selected for their flavor and creativity,
    these recipes are perfect for sparking inspiration for your next meal. Try
    one today and share your own twist!!
  </p>
  <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
    
    <div class="col">
      <div
        class="feature-section-card card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg"
        style="background-image: url('../static/images/feature-1.jpg')"
      >
        <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
          <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">
            Short title, long jacket
          </h3>
          <ul class="d-flex list-unstyled mt-auto">
            <li class="me-auto">
              <img
                src="{{url_for('static', filename='images/plate-share-logo-thumbnail.png')}}"
                alt="Bootstrap"
                width="62"
                height="52"
                class="featured-thumbnail image-fluid rounded-circle border border-white"
              />
            </li>
            <li class="d-flex align-items-center me-3">
              <svg
                class="bi me-2"
                width="1em"
                height="1em"
                role="img"
                aria-label="Location"
              >
                <use xlink:href="#geo-fill"></use>
              </svg>
              <small>James Miller</small>
            </li>
            <li class="d-flex align-items-center">
              <svg
                class="bi me-2"
                width="1em"
                height="1em"
                role="img"
                aria-label="Duration"
              >
                <use xlink:href="#calendar3"></use>
              </svg>
              <small>3d</small>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col">
      <div
        class="feature-section-card card card-cover h-100 overflow-hidden rounded-4 shadow-lg"
        style="background-image: url('../static/images/feature-1.jpg')"
      >
        <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
          <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">
            Much longer title that wraps to multiple lines
          </h3>
          <ul class="d-flex list-unstyled mt-auto">
            <li class="me-auto">
              <img
                src="{{url_for('static', filename='images/plate-share-logo-thumbnail.png')}}"
                alt="Bootstrap"
                width="62"
                height="52"
                class="featured-thumbnail image-fluid rounded-circle border border-white"
              />
            </li>
            <li class="d-flex align-items-center me-3">
              <svg
                class="bi me-2"
                width="1em"
                height="1em"
                role="img"
                aria-label="Location"
              >
                <use xlink:href="#geo-fill"></use>
              </svg>
              <small>Lisa Mac</small>
            </li>
            <li class="d-flex align-items-center">
              <svg
                class="bi me-2"
                width="1em"
                height="1em"
                role="img"
                aria-label="Duration"
              >
                <use xlink:href="#calendar3"></use>
              </svg>
              <small>4d</small>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col">
      <div
        class="feature-section-card card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg"
        style="background-image: url('../static/images/feature-1.jpg')"
      >
        <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
          <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">
            Another longer title belongs here
          </h3>
          <ul class="d-flex list-unstyled mt-auto">
            <li class="me-auto">
              <img
                src="{{url_for('static', filename='images/plate-share-logo-thumbnail.png')}}"
                alt="Bootstrap"
                width="62"
                height="52"
                class="featured-thumbnail image-fluid rounded-circle border border-white"
              />
            </li>
            <li class="d-flex align-items-center me-3">
              <svg
                class="bi me-2"
                width="1em"
                height="1em"
                role="img"
                aria-label="Location"
              >
                <use xlink:href="#geo-fill"></use>
              </svg>
              <small>Avery White</small>
            </li>
            <li class="d-flex align-items-center">
              <svg
                class="bi me-2"
                width="1em"
                height="1em"
                role="img"
                aria-label="Duration"
              >
                <use xlink:href="#calendar3"></use>
              </svg>
              <small>5d</small>
            </li>
          </ul>
        </div>
      </div>
    </div>

  </div>
</section>

{% endblock %}
