{% extends "base.html" %}

{% block recipes_type_h1 %}
<h1>{{ category_title.capitalize() }} Recipes</h1>
{% endblock  %}

{% block intro_paragraph %}
    <p>
        A vegan entrees made without any animal products, such as meat, poultry,
        fish, dairy, or eggs. They are often hearty and satisfying, using a wide variety of plants
        like vegetables, legumes, grains, tofu, and mushrooms to create rich flavors and textures.
    </p>
{% endblock %}



{% block main_section%}
{% set item = category_title %}
{% set list = recipes %}

{% include './includes/recipe_list_card.html' %}

{% endblock %} 